{% extends "base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1>Forgotten your password?</h1>
  <p>Enter your e-mail address to obtain a new password.</p>
 <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <div class="login-panel panel default-panel">
                       
                            <h2 class="panel-title"><center><img src="{% static 'img/khetra_2.png' %}" alt="" width="400px"></center></h2>
                        
						</div>

					<form action="." method="post">
						{{ form|crispy }}
					<p> <br><input type="submit" value="Send e-mail"class="btn btn-lg btn-success btn-block">
					</p>
    {% csrf_token %}
  </form>
{% endblock %}s